{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome to Aadeshwar's devlopment Blog! Here i will be talking about my Projects such as Games,apps
                and share the progress about the projects and any stuff related to programming or computers.
                me when learning the "flask Frame work".To find more about me visit the about page.</p>

            <p>Go visit my website <a href="msaadeshwar.com">msaadeshwar.com</a> to check out more cool stuff beyond
                just blogs.</p>
            <a class="btn btn-primary" href="/posts" role="button">View all posts</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}